.full-width {
    width: calc(100vw - 4em);
}

table {
  width: 100%;
  display: table;
  border-width: 0;
  border-style: solid;
  text-indent: 0;
  border-color: inherit;
  border-collapse: collapse;
  border-radius: 20px;
}

th {
  /* background-color: rgb(36, 41, 51); */
  background-color: #1a1a1a;
  font-size: .75rem;
  line-height: 1rem;
  font-weight: 700;
  text-transform: uppercase;
}

th, td {
  white-space: nowrap;
  padding: 1rem;
  vertical-align: middle;
}

td {
  /* background-color: rgb(42, 48, 60); */
  background-color: #242424;
}
